body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flag__and__country {
  text-align: center;
}

.flag__and__country img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
